* {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    font-size: 20px;
    font-weight: 700;
    height: 64px;
    border-radius: 5px;
    border: 0;
    padding: 18px 35px;
    background-color: #FD6E0A;
    color: #ffffff;
}

.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}


/* Nav section */
.nav-title {
    font-size: 45px;
    font-weight: 800;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 226px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* Banner section */
.banner {
    display: flex;
    align-items: center;
    margin: 0 230px;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    color: #181818;
}

.banner-sub-title {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

/* Main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* About section */
.about {
    text-align: center;
    margin-top: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    padding: 131px 157px 131px 156px;
}

.section-title {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

.section-description {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.info-title {
    font-size: 20px;
    color: #757575;
}

.info-description {
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}